.home{ 
    .about {
        padding-top: 30px;
        border-top: 2px dashed @navigation-border;

        .photo {
            width: 30%;
            margin-bottom: 30px;
            .card {
                h2 {
                    font-size: 2rem;
                }
                h3 {
                    padding-top: .5rem;
                    font-size: 1.6rem;
                }
                h4 {
                    padding-top: .5rem;
                    font-size: 1.5rem;
                }

                .img-content {
                width: 48%;
                padding-left: 1%;
                img {
                    border-radius: 40%;
                }
            }


        }
    }
}
}